<!DOCTYPE html>

<html>
<head>

<title>Etsy Fake</title>

<div class=top>
  <span class=etsy-title>Etsy</span>
  <input class="search-bar" type="text" placeholder="Search for items or shops" required>
  <input class="search-button" type="submit" value="Search">
  <span class=help-bar>Help</span>
  <span class=register-bar>Register</span>
  <input class="sign-in-button" type="button" value="Sign In">
</div>

</head>
<body>

<div class=sidebar>
<li>
<%="A Lot of Craziness"%>
<%="A Lot of Craziness"%>
<%="A Lot of Craziness"%>
<%="A Lot of Craziness"%>
<%="A Lot of Craziness"%>
<%="A Lot of Craziness"%>
<%="A Lot of Craziness"%>
<%="A Lot of Craziness"%>
<%="A Lot of Craziness"%>
</li>
</div>

<h1></h1>

  <% if @results%>
      <% @results.each do |l| %>
        <li><%= @results %></li>
  
  <div class="box1">
    <li>
    <div class="image">
      <img src=<%= l["Images"][0]["url_170x135"] %>>
    </div>
    <div class="price">
      <%= l["price"] %>>
    </div>
    <div class="name">
      <%= l["name"] %>>
  </div>
  </li>
</div>
      <% end %>
  <% end %>
<div class=foot>
<%="Related to master sword"%>
<%="master sword replica"%>
<%="hylian shield"%>
<%="majora's mask"%>
<%="zelda"%>
<%="legend of zelda"%>
<%="link cosplay"%>
<%="fierce deity"%>
<%="triforce"%>
<%="monado"%>

  
</div>

</body>
</html>

